h1 {
    font-family: "Calibri Bold", "Calibri", sans-serif;
}

h2 {
    font-family: "Gill Sans", 'Calibri', "Trebuchet MS", sans-serif, Helvetica, sans-serif;
}

h3 {
    font-family: 'Gill Sans', 'Calibri', sans-serif;
}

p3 {
    font-family: "Lucida Console", "Courier New", monospace;
}

a {
    font-family: "Calibri", "Calibri", sans-serif
}